@use '../semantic' as *;

// NIVEL 3 · COMPONENTE: navbar (Figma: navbar/…). Nombre de Figma cambiando la barra por un guion.

$navbar-background-default: $color-background-white-default;
$navbar-menu-icon-default: $color-foreground-primary-dark-default; // Brand: burger morado (el SVG exportado es casi negro)
$navbar-menu-icon-hover: $color-foreground-primary-dark-hover;
$navbar-border-default: $color-border-secondary-medium-default;
